@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.body{font-family: 'Roboto', sans-serif; margin: 0px; padding: 0px;}


/** header **/

.header{
    background-color: #525252;
    padding: 10px 17px;
    width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link.border-btn {
    border-radius: 20px;
    border: solid 1px rgba(255, 255, 255, 0.5);
    height: 40px;
    line-height: 38px;
    padding: 0 20px;
    color: #fff;
    font-size: 16px;
    transition: all 0.3s;
    min-width: 94px;
    text-align: center;
}

.navbar-header{
    margin-left: 20px;
}

.horizontal-arr{
    height: 48px;
}
::after {
    box-sizing: border-box;
    color: white;
}
.welcome-section{
    background-color: #f9f9f9;
}
.welcome-header{
    padding: 45px 0px;
    font-size: 30px;
    line-height: 24px;
    color: #4f4f4f;
}
.welcome-sandip{
    font-weight: bold;
}
.service-section{
    padding-top: 30px;
}

::selection{
    background: #146371;
    color: #fff;
  }
.title{
      font-size: 18px;
  }
.none{
     height: 317px;
  }
.cancle{
      border: 1px solid;
        margin-top: 10px;
        color: white;
        background-color: #ff6b6b;
        border-radius: 30px;
        padding: 5px 10px;
  }
  
  .container{
    width: 100%;
    padding: 40px 50px  40px  40px;
    background: #fff;
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .container .topic{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .content .list{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    position: relative;
    color: white;
    background-color: #1d7a8c;
    padding-right: 25px;
    
  }
  .content .list label{
    height: 60px;
    font-size: 22px;
    font-weight: 500;
    line-height: 60px;
    cursor: pointer;
    padding-left: 25px;
    transition: all 0.5s ease;
    z-index: 12;
  }
  #dashboard:checked ~ .list label.dashboard,
  #new-sevice-request:checked ~ .list label.new-sevice-request,
  #upcoming-service:checked ~ .list label.upcoming-service,
  #service-schedule:checked ~ .list label.service-schedule,
  #service-history:checked ~ .list label.service-history,
  #myRating:checked ~ .list label.myRating,
  #blockCustomer:checked ~ .list label.blockCustomer
  {
    color: #fff;
  }
  .content .list label:hover{
    color:
    #146371;
  }
  .content .slider{
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    border-radius: 12px;
    background: 
    #146371;
    transition: all 0.4s ease;
  }
  #dashboard:checked ~ .list .slider{
    top: 0;
  }
  #new-sevice-request:checked ~ .list .slider{
    top: 60px;
  }
  #upcoming-service:checked ~ .list .slider{
    top: 120px;
  }
  #service-schedule:checked ~ .list .slider{
    top: 180px;
  }
  #service-history:checked ~ .list .slider{
    top: 240px;
  }
  #myRating:checked ~ .list .slider{
    top: 300px;   
  }
  #blockCustomer:checked ~ .list .slider{
    top: 360px;   
  }
  .content .text{
    display: none;
  }
  .content .text .title{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .content .text p{
    text-align: justify;
  }
  .content .text-content .home{
    display: block;
  }
  #dashboard:checked ~ .text-content .dashboard,
  #new-service-request:checked ~ .text-content .new-service-request,
  #upcoming-service:checked ~ .text-content .upcoming-service,
  #service-schedule:checked ~ .text-content .service-schedule,
  #service-history:checked ~ .text-content .service-history,
  #myRating:checked ~ .text-content .myRating,
  #blockCustomer:checked ~ .text-content .blockCustomer {
    display: block;
  }
  #new-service-request:checked ~ .text-content .dashboard,
  #upcoming-service:checked ~ .text-content .dashboard,
  #service-schedule:checked ~ .text-content .dashboard,
  #service-history:checked ~ .text-content .dashboard,
  #myRating:checked ~ .text-content .dashboard,
  #blockCustomer:checked ~ .text-content .dashboard{
    display: none;
  }
  .content input{
    display: none;
  }
.table{
    border: 1px solid;
    border-color: #e1e1e1;
    color: #646464;
}
.table-heading{
     background-color: #e1e1e1;
     color: #646464;
}
.date{
  font-weight: bold;
}
/**footer**/
.footer-top{
    background-color: black;
    margin-top: 53px;
    padding: 15px 27px;
}
.site-footer ul.footer-navigation li a {
    display: inline-block;
    color: white;
    text-decoration: none;
}
.footer-list{
    margin-right: 20px;
    text-align: center;
    margin-top: 30px;
}
.terms-condition{
    margin-left: 10px;
}
.footer-bottom{
    color: #9ba0a3;
    background-color: black;
    padding: 3px 0px;
}
.privacy{
    text-decoration: none;
    color:#9ba0a3 ;
}


@media (max-width: 500px){
    .content{
      display: block;
    }
     thead{
          display: none;
      }
      td{
          display: block;
      }
      td:first-child{
          text-align: center;
      }
      td:nth-child(1)::before{
          content: "Service ID";
      }
      td:nth-child(2)::before{
        content: "Service date";
    }
    td:nth-child(3)::before{
        content: "Customer details";
    }
    td:nth-child(4)::before{
        content: "Distance";
    }
     td:nth-child(5)::before{
        content: "Actions";
       }
    td{
        text-align: right;
    }
    td::before{
        float: left;
        margin-right: 10rem;
        font-weight: bold;
    }
  }



@media (min-width: 500px) and (max-width:1000px){
    .content{
      display: block;
    }
     thead{
          display: none;
      }
      td{
          display: block;
      }
      td:first-child{
          text-align: center;
      }
      td:nth-child(1)::before{
          content: "Service ID";
      }
      td:nth-child(2)::before{
        content: "Service date";
    }
    td:nth-child(3)::before{
        content: "Customer details";
    }
    td:nth-child(4)::before{
        content: "Distance";
    }
     td:nth-child(5)::before{
        content: "Actions";
       }
    td{
        text-align: right;
    }
    td::before{
        float: left;
        margin-right: 20rem;
        font-weight: bold;
    }
}
  