
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
<!--banner section-->
<section class="banner-section">
    <img src="/assets/hero-banner-img.png" class="img-fluid" alt="contact-banner">
</section>
<!-- About Section -->
<section class="about-section">
    <div class="few-words-section">
        <div class="container text-center">
            <h2 class="about-header">A Few words about us</h2>
            <div class="d-flex justify-content-center">
                <div class="line1"></div>
                <img src="/assets/forma-1-copy-5.png" style="width: 24px;
                    height: 25px;
                    margin-top: 14px;">
                <div class="line2"></div>
            </div>
            <p class="about-text mb-4 ms-5 me-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis
                tempor. Duis vestibulum vel risus condimentum dictum. Orci varius natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus, sollicitudin
                eu magna sed, pharetra sodales libero. Proin tincidunt vel erat id porttitor. Donec tristique est
                arcu, sed dignissim velit vulputate ultricies.
            </p>
            <p class="about-text mb-3 ms-5 me-5">
                Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea
                dictumst. Vivamus eget mauris eget nisl euismod volutpat sed sed libero. Quisque sit amet lectus ex.
                Ut semper ligula et mauris tincidunt hendrerit. Aenean ut rhoncus orci, vel elementum turpis. Donec
                tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. In hac habitasse
                platea dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor
                augue, posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac,
                vehicula placerat lorem.
            </p>
        </div>
    </div>
    <div class="few-words-section">
        <div class="container text-center">
            <h2 class="about-header">Our Story</h2>
            <div class="d-flex justify-content-center">
                <div class="line1"></div>
                <img src="/assets/forma-1-copy-5.png" style="width: 24px;
                    height: 25px;
                    margin-top: 14px;">
                <div class="line2"></div>
            </div>
            <p class="about-text mb-4 ms-5 me-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis
                tempor. Duis vestibulum vel risus condimentum dictum. Orci varius natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus, sollicitudin
                eu magna sed, pharetra sodales libero. Proin tincidunt vel erat id porttitor. Donec tristique est
                arcu, sed dignissim velit vulputate ultricies.
            </p>
            <p class="about-text mb-4 ms-5 me-5">
                Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea
                dictumst. Vivamus eget mauris eget nisl euismod volutpat sed sed libero. Quisque sit amet lectus ex.
                Ut semper ligula et mauris tincidunt hendrerit.
            </p>

            <p class="about-text mb-5 ms-5 me-5">
                Aenean ut rhoncus orci, vel elementum turpis. Donec
                tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. In hac habitasse
                platea dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor
                augue, posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac,
                vehicula placerat lorem.
            </p>
        </div>
    </div>
</section>

<section class="our-news-letter">
    <div class="container text-center">

        <h2 class="news-letter">GET OUR NEWSLETTER</h2>
        <div class="form-row d-flex justify-content-center align-items-center">
            <div class="form-group">
                <label for="email" style="display: none;">YOUR EMAIL</label>
                <input type="text" placeholder="YOUR EMAIL" id="email" class="form-control email">
            </div>
            <div class="btn-wrapper">
                <button type="submit" class="red-btn">Submit</button>
            </div>
        </div>
    </div>
</section>
   
