
@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
<section class="banner-section">
    <img src="/assets/group-16.png" class="img-fluid" alt="FAQ-banner">
</section>
<section class="about-section">
    <div class="container">
        <h1 class="bannner-header">FAQs</h1>
        <img class="rounded mx-auto d-block forma" src="/assets/forma-1-copy-5.png" alt="forma-1-copy-5">
        <div class="faq-content">
            <p class="text-center" style="margin-bottom: 0px;">Whether you are Customer or Service provider,</p>
            <p class="text-center">have tried our best to solve all your queries and questions. </p>
        </div>
        <div class="customer-tab">
            <ul class="nav nav-pills nav-justified"
                style="margin: 20px 176px;border-bottom: solid 4px; border-bottom-color: #1d7a8c;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">FOR CUTOMER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FOR SERVICE PROVIDER</a>
                </li>
            </ul>
        </div>
        <div class="collapse-section">
            <div class="d-flex justify-content-center">
                <a class="btn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                   aria-controls="collapseExample">
                    <img src="/assets/down-arrow.png" alt="down-arrow">
                    <p class="collapse-data">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc,
                        iaculis mattis tellus ac ut non imperdiet velit?
                    </p>
                </a>
            </div>
            <div class="collapse" id="collapseExample">

                <div class="card card-body">
                    <p class="card-data">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                        dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor. Integer fermentum
                        convallis
                        eros vel semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend eget quis dui. Integer
                        tempus massa in gravida tincidunt. Fusce in libero tristique, euismod nisi vel, luctus urna. Interdum et
                        malesuada fames ac ante ipsum primis in faucibus. Donec et placerat arcu. Suspendisse lacinia tristique
                        massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor eros. Aliquam efficitur pretium urna,
                        sit
                        amet congue risus malesuada rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce
                        viverra commodo lacus, sit amet facilisis leo luctus dictum.
                    </p>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                   aria-controls="collapseExample">
                    <img src="/assets/right-arrow.png" alt="down-arrow">
                    <p class="collapse-data">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc,
                        iaculis mattis tellus ac ut non imperdiet velit?
                    </p>
                </a>
            </div>
            <div class="collapse" id="collapseExample1">

                <div class="card card-body">
                    <p class="card-data">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                        dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor. Integer fermentum
                        convallis
                        eros vel semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend eget quis dui. Integer
                        tempus massa in gravida tincidunt. Fusce in libero tristique, euismod nisi vel, luctus urna. Interdum et
                        malesuada fames ac ante ipsum primis in faucibus. Donec et placerat arcu. Suspendisse lacinia tristique
                        massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor eros. Aliquam efficitur pretium urna,
                        sit
                        amet congue risus malesuada rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce
                        viverra commodo lacus, sit amet facilisis leo luctus dictum.
                    </p>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                   aria-controls="collapseExample">
                    <img src="/assets/right-arrow.png" alt="down-arrow">
                    <p class="collapse-data">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc,
                        iaculis mattis tellus ac ut non imperdiet velit?
                    </p>
                </a>
            </div>
            <div class="collapse" id="collapseExample2">

                <div class="card card-body">
                    <p class="card-data">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                        dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor. Integer fermentum
                        convallis
                        eros vel semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend eget quis dui. Integer
                        tempus massa in gravida tincidunt. Fusce in libero tristique, euismod nisi vel, luctus urna. Interdum et
                        malesuada fames ac ante ipsum primis in faucibus. Donec et placerat arcu. Suspendisse lacinia tristique
                        massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor eros. Aliquam efficitur pretium urna,
                        sit
                        amet congue risus malesuada rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce
                        viverra commodo lacus, sit amet facilisis leo luctus dictum.
                    </p>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                   aria-controls="collapseExample">
                    <img src="/assets/right-arrow.png" alt="down-arrow">
                    <p class="collapse-data">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc,
                        iaculis mattis tellus ac ut non imperdiet velit?
                    </p>
                </a>
            </div>
            <div class="collapse" id="collapseExample3">

                <div class="card card-body">
                    <p class="card-data">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                        dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor. Integer fermentum
                        convallis
                        eros vel semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend eget quis dui. Integer
                        tempus massa in gravida tincidunt. Fusce in libero tristique, euismod nisi vel, luctus urna. Interdum et
                        malesuada fames ac ante ipsum primis in faucibus. Donec et placerat arcu. Suspendisse lacinia tristique
                        massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor eros. Aliquam efficitur pretium urna,
                        sit
                        amet congue risus malesuada rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce
                        viverra commodo lacus, sit amet facilisis leo luctus dictum.
                    </p>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                   aria-controls="collapseExample">
                    <img src="/assets/right-arrow.png" alt="down-arrow">
                    <p class="collapse-data">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc,
                        iaculis mattis tellus ac ut non imperdiet velit?
                    </p>
                </a>
            </div>
            <div class="collapse" id="collapseExample4">

                <div class="card card-body">
                    <p class="card-data">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                        dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor. Integer fermentum
                        convallis
                        eros vel semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend eget quis dui. Integer
                        tempus massa in gravida tincidunt. Fusce in libero tristique, euismod nisi vel, luctus urna. Interdum et
                        malesuada fames ac ante ipsum primis in faucibus. Donec et placerat arcu. Suspendisse lacinia tristique
                        massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor eros. Aliquam efficitur pretium urna,
                        sit
                        amet congue risus malesuada rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce
                        viverra commodo lacus, sit amet facilisis leo luctus dictum.
                    </p>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                   aria-controls="collapseExample">
                    <img src="/assets/right-arrow.png" alt="down-arrow">
                    <p class="collapse-data">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc,
                        iaculis mattis tellus ac ut non imperdiet velit?
                    </p>
                </a>
            </div>
            <div class="collapse" id="collapseExample5">

                <div class="card card-body">
                    <p class="card-data">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                        dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor. Integer fermentum
                        convallis
                        eros vel semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend eget quis dui. Integer
                        tempus massa in gravida tincidunt. Fusce in libero tristique, euismod nisi vel, luctus urna. Interdum et
                        malesuada fames ac ante ipsum primis in faucibus. Donec et placerat arcu. Suspendisse lacinia tristique
                        massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor eros. Aliquam efficitur pretium urna,
                        sit
                        amet congue risus malesuada rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce
                        viverra commodo lacus, sit amet facilisis leo luctus dictum.
                    </p>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                   aria-controls="collapseExample">
                    <img src="/assets/right-arrow.png" alt="down-arrow">
                    <p class="collapse-data">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc,
                        iaculis mattis tellus ac ut non imperdiet velit?
                    </p>
                </a>
            </div>
            <div class="collapse" id="collapseExample6">

                <div class="card card-body">
                    <p class="card-data">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                        dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor. Integer fermentum
                        convallis
                        eros vel semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend eget quis dui. Integer
                        tempus massa in gravida tincidunt. Fusce in libero tristique, euismod nisi vel, luctus urna. Interdum et
                        malesuada fames ac ante ipsum primis in faucibus. Donec et placerat arcu. Suspendisse lacinia tristique
                        massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor eros. Aliquam efficitur pretium urna,
                        sit
                        amet congue risus malesuada rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce
                        viverra commodo lacus, sit amet facilisis leo luctus dictum.
                    </p>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                   aria-controls="collapseExample">
                    <img src="/assets/right-arrow.png" alt="down-arrow">
                    <p class="collapse-data">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc,
                        iaculis mattis tellus ac ut non imperdiet velit?
                    </p>
                </a>
            </div>
            <div class="collapse" id="collapseExample7">

                <div class="card card-body">
                    <p class="card-data">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                        dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor. Integer fermentum
                        convallis
                        eros vel semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend eget quis dui. Integer
                        tempus massa in gravida tincidunt. Fusce in libero tristique, euismod nisi vel, luctus urna. Interdum et
                        malesuada fames ac ante ipsum primis in faucibus. Donec et placerat arcu. Suspendisse lacinia tristique
                        massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor eros. Aliquam efficitur pretium urna,
                        sit
                        amet congue risus malesuada rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce
                        viverra commodo lacus, sit amet facilisis leo luctus dictum.
                    </p>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                   aria-controls="collapseExample">
                    <img src="/assets/right-arrow.png" alt="down-arrow">
                    <p class="collapse-data">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc,
                        iaculis mattis tellus ac ut non imperdiet velit?
                    </p>
                </a>
            </div>
            <div class="collapse" id="collapseExample8">

                <div class="card card-body">
                    <p class="card-data">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                        dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor. Integer fermentum
                        convallis
                        eros vel semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend eget quis dui. Integer
                        tempus massa in gravida tincidunt. Fusce in libero tristique, euismod nisi vel, luctus urna. Interdum et
                        malesuada fames ac ante ipsum primis in faucibus. Donec et placerat arcu. Suspendisse lacinia tristique
                        massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor eros. Aliquam efficitur pretium urna,
                        sit
                        amet congue risus malesuada rutrum. Donec id massa vel velit ullamcorper accumsan ut eget nisl. Fusce
                        viverra commodo lacus, sit amet facilisis leo luctus dictum.
                    </p>
                </div>
            </div>


        </div>

    </div>


</section>
<section class="our-news-letter">
    <div class="container text-center">
        <h2 class="news-letter">GET OUR NEWSLETTER</h2>
        <div class="form-row d-flex justify-content-center align-items-center">
            <div class="form-group">
                <label for="email" style="display: none;">YOUR EMAIL</label>
                <input type="text" placeholder="YOUR EMAIL" id="email" class="form-control">
            </div>
            <div class="btn-wrapper">
                <button type="submit" class="red-btn">Submit</button>
            </div>
        </div>
    </div>
</section>
