
@{
    ViewData["Title"] = "Index1";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<section class="about">
    <span>
        <h2 class="why-helperland">Why Helperland</h2>
    </span>

    <div id="card">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="assets/helper-img-1.png" style="height: 330px;">
                    <h2 class="card-text">
                        Experience & Vetted<br>
                        Professionals
                    </h2>
                    <p>
                        dominate the industry in scale and scope<br>with an adaptable, extensive network that<br>consistently
                        delivers exceptional results.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="assets/group-23.png" style="height: 330px;">
                    <h2 class="card-text1">Secure Online Payment</h2>
                    <p>
                        Payment is processed securely online.<br> Customers pay safely online and<br>
                        manage the booking.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="assets/group-24.png" style="height: 330px;">
                    <h2 class="card-text">
                        Dedicated Customer<br>
                        Service
                    </h2>
                    <p>
                        to our customers and are guided in all we do<br> by their needs. The team is always happy to<br> support
                        you and offer all the information.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog-section">
    <div class="max-width" style="display:flex; flex-wrap: wrap;">

        <div class="data">
            <h2>
                Lorem ipsum dolor sit amet,<br> consectetur
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi sapien, sus-<br>cipit ut accumsan vitae,
                pulvinar ac libero.<br><br>

                Aliquam erat volutpat. Nullam quis ex odio. Nam bibendum cursus purus, vel<br> efficitur urna finibus vitae.
                Nullam finibus aliquet pharetra. Morbi in sem dolor.<br> Integer pretium hendrerit ante quis vehicula.<br><br>

                Mauris consequat ornare enim, sed lobortis quam ultrices sed.
            </p>
        </div>
        <div class="Ellipse">
            <img src="assets/group-36.png">
        </div>

    </div>

    <div class="max-width mb-5">
        <span>
            <h2 class="why-helperland" style="margin-right:300px">Our Blog</h2>
        </span>
    </div>

    <div id="card">
        <div class="container" id="blog-container">
            <div class="row">
                <div class="col-md-3 blog-card">
                    <img class="Blog" src="assets/group-28.png">
                    <span class="card-text2">Lorem ipsum dolor sit amet</span>
                    <p class="date">January 28, 2019</p>
                    <p class="card-text3">
                        Lorem ipsum dolor sit amet, consectetur<br>adipiscing elit. Sed fermentum
                        metus<br>pulvinar aliquet.
                    </p>
                    <div class="read-more-div">
                        <a class="read-more" href="">Read the post</a>
                        <img class="arr" src="assets/shape-2.png">
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 blog-card" id="mid-card">
                    <img class="Blog" src="assets/group-29.png">
                    <span class="card-text2">Lorem ipsum dolor sit amet</span>
                    <p class="date">January 28, 2019</p>
                    <p class="card-text3">
                        Lorem ipsum dolor sit amet, consectetur<br>adipiscing elit. Sed fermentum
                        metus<br>pulvinar aliquet.
                    </p>
                    <div class="read-more-div">
                        <a class="read-more" href="">Read the post</a>
                        <img class="arr" src="assets/shape-2.png">
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 blog-card">
                    <img class="Blog" src="assets/group-30.png">
                    <span class="card-text2">Lorem ipsum dolor sit amet</span>
                    <p class="date">January 28, 2019</p>
                    <p class="card-text3">
                        Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit. Sed fermentum
                        metus<br>pulvinar aliquet.
                    </p>
                    <div class="read-more-div">
                        <a class="read-more" href="">Read the post</a>
                        <img class="arr" src="assets/shape-2.png">
                    </div>
                </div>
            </div>
        </div>
</section>

<div style="background-color: whitesmoke;">
    <section class="customer ">

        <div class="container">
            <span>
                <h2 class="testimonial-title">What Our Customers Say</h2>
            </span>
        </div>

        <div class="row customer-wrapper d-flex justify-content-center ms-5 me-5">
            <div class="col-lg-4 col-sm-6">
                <div class="customer-inner">
                    <em class="message-infor">
                        <img src="assets/message.png">
                    </em>
                    <div class="person-info d-flex align-items-center">
                        <div class="person-image">
                            <img src="assets/group-31.png">
                        </div>
                        <div class="person-content">
                            <span class="person-name">Lary Watson</span>
                            <span class="person-city">Manchester</span>
                        </div>
                    </div>
                    <div class="person-detail">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet
                            consequat. Praesent nec malesuada nibh.
                        </p>
                        <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                        <a href="" title="Read More" class="arrow-link">Read More <em><img src="assets/shape-2.png"></em></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="customer-inner">
                    <em class="message-infor">
                        <img src="assets/message.png">
                    </em>
                    <div class="person-info d-flex align-items-center">
                        <div class="person-image">
                            <img src="assets/group-32.png">
                        </div>
                        <div class="person-content">
                            <span class="person-name">John Smith</span>
                            <span class="person-city">Manchester</span>
                        </div>
                    </div>
                    <div class="person-detail">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet
                            consequat. Praesent nec malesuada nibh.
                        </p>
                        <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                        <a href="" title="Read More" class="arrow-link">Read More <em><img src="assets/shape-2.png"></em></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="customer-inner">
                    <em class="message-infor">
                        <img src="assets/message.png">
                    </em>
                    <div class="person-info d-flex align-items-center">
                        <div class="person-image">
                            <img src="assets/group-33.png">
                        </div>
                        <div class="person-content">
                            <span class="person-name">Lars Johnson</span>
                            <span class="person-city">Manchester</span>
                        </div>
                    </div>
                    <div class="person-detail">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet
                            consequat. Praesent nec malesuada nibh.
                        </p>
                        <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                        <a href="" title="Read More" class="arrow-link">Read More <em><img src="assets/shape-2.png"></em></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="news-letter">
        <div class="container text-center">
            <a href="" class="scroll-top" style="display: inline-block;"><img src="assets/forma-1.png"></a>
            <a href="" class="message-boat" style="display: inline-block;"><img src="assets/layer-598.png"></a>
            <h3 class="heading">GET OUR NEWSLETTER</h3>
            <div id="container">
                <div class="buttons">

                    <div class="email">
                        <input type="text" placeholder="   YOUR EMAIL" style="background-color:white; border-radius: 50px; padding: 5px 10px;">
                        <button style="background-color: lightsalmon; border-radius: 50px; color: white; border-color: lightsalmon; padding:5px 15px">Submit</button>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

