<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="bg-img">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent">

                <div class="container-fluid">
                    <a class="navbar-brand-img" href="#">
                        <img src="assets/white-logo-transparent-background.png" height="130px"
                             width="175px">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link border" href="#" style="color: white;">Book a Cleaner</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Prices" asp-controller="Home" style="color: white;">Prices</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" style="color: white;">Our Guarantee</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" style="color: white;">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="ContactUS" asp-controller="Home" style="color: white;">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border" href="#" style="color: white;">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border" href="#" style="color: white;">Become a Helper</a>
                            </li>
                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img style="vertical-align: baseline;" src="assets/ic-flag.png" alt="">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="background-color: black;">
                                    <li><a class="dropdown-item" href="#"><img src="assets/ic-flag.png" alt=""> <span>India</span> </a></li>
                                    <li><a class="dropdown-item" href="#"><img src="assets/ic-flag.png" alt=""> <span>U.K.</span> </a></li>
                                    <li><a class="dropdown-item" href="#"><img src="assets/ic-flag.png" alt=""> <span>U.S.A.</span> </a></li>
                                </ul>
                            </li>

                        </ul>

                    </div>
                </div>
            </nav>
            <div>
                <h1 class="text">Lorem ipsum text</h1>
                <h2 class="text-sl">
                    <img src="assets/forma-1-copy-10.png" style="margin-right: 13px;">Lorem ipsum dolor sit
                    amet, consectetur adipiscing
                </h2>
                <h2 class="text-sl">
                    <img src="assets/forma-1-copy-10.png" style="margin-right: 13px;">Lorem ipsum dolor sit
                    amet, consectetur adipiscing
                </h2>
                <h2 class="text-sl">
                    <img src="assets/forma-1-copy-10.png" style="margin-right: 13px;">Lorem ipsum dolor sit
                    amet, consectetur adipiscing
                </h2>
            </div>
            <div class="d-inline-flex p-2 bd-highlight rect"><a href="">Let's Book a Cleaner</a></div>
            <div class="d-flex justify-content-center step">
                <div>
                    <img src="assets/forma-1-copy.png">
                    <p class="steps-text1">Enter your Postcode</p>
                </div>
                <div>
                    <img src="assets/step-arrow-1.png">
                </div>
                <div>
                    <img src="assets/group-22.png">
                    <p class="steps-text2">Select your plan</p>
                </div>
                <div>
                    <img src="assets/step-arrow-1-copy.png">
                </div>
                <div>
                    <img src="assets/step-3.png">
                    <p class="steps-text3">Pay securely online</p>
                </div>
                <div>
                    <img src="assets/step-arrow-1.png">
                </div>
                <div>
                    <img src="assets/step-4.png">
                    <p class="steps-text4">Enjoy amazing service</p>
                </div>

            </div>
            <span class="Arrow">
                <a href=""><img src="assets/shape-1.png"></a>
            </span>
            <br>
            <br>
    </header>
    <div>
        @RenderBody()
    </div>
    <div class="container-fluid footer-section" style="background-color: black;">
        <footer>
            <div class="footer-content">


                <nav class="nav footer-nav justify-content-space-evenly">
                    <div class="footer-logo"><img src="assets/white-logo-transparent-background.png"></div>
                    <a class="nav-link footer-data" href="">Home</a>
                    <a class="nav-link footer-data" asp-action="About" asp-controller="Home">About</a>
                    <a class="nav-link footer-data" href="">Testimonials</a>
                    <a class="nav-link footer-data" asp-action="FAQ" asp-controller="Home">faqs</a>
                    <a class="nav-link footer-data" href="">Insurance Policy</a>
                    <a class="nav-link footer-data" href="">Impressum</a>
                    <img src="assets/ic-facebook.png" style="height: 20px; margin-left: 100px; margin-top: 70px; margin-right: 5px;">
                    <img src="assets/ic-instagram.png" style="height: 20px; margin-top: 70px;">
                </nav>

            </div>

        </footer>
    </div>
    <div class="container-fluid privacy-policy-sec" style="background-color: #292929;">
        <p class="text-center">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea iste pariatur cumque. <span style="color:#6EABEF; ">Privacy Policy</span>
        </p>

    </div>
</body>
</html>
