<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <link rel='stylesheet' href="/css/price-css.css">
    <link href="~/css/contact-style.css" rel="stylesheet" />
    <link href="~/css/faq-style.css" rel="stylesheet" />
    <link href="~/css/about-style.css" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <div class="header-wrapper d-flex justify-content-center">
            <a href="#" class="logo-header">
                <img src="/assets/logo-small.png" alt="helperland logo">
            </a>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav align-items-center">
                            <li class="nav-item">
                                <a class="nav-link border-btn" href="#" title="Book now">Book now</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border-btn" asp-action="Prices" asp-controller="Home" title="Prices & services">Prices & services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" title="Warranty">Warranty</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" title="Blog">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="ContactUs" asp-controller="Home" title="Contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border-btn" href="#" title="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border-btn" href="#" title="Become a Helper">
                                    Become a
                                    Helper
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 footer-widget">
                        <a href="#" title="Helper Hand">
                            <img src="/assets/logo-small.png" alt="Helper Hand">
                        </a>
                    </div>
                    <div class="col-lg-8 footer-widget">
                        <ul class="footer-navigation d-flex justify-content-center">
                            <li class="footer-list">
                                <a href="#" title="Home">HOME</a>
                            </li>
                            <li class="footer-list">
                                <a title="About" asp-action="About" asp-controller="Home">ABOUT</a>
                            </li>
                            <li class="footer-list">
                                <a href="#" title="Testimonials">TESTINOMIALS</a>
                            </li>
                            <li class="footer-list">
                                <a title="FAQs" asp-action="FAQ" asp-controller="Home">FAQs</a>
                            </li>
                            <li class="footer-list">
                                <a href="#" title="Insurance Policy">INSURANCE POLICY</a>
                            </li>
                            <li class="footer-list">
                                <a href="#" title="Impressum">IMPRESSUM</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 footer-widget">
                        <ul class="social-media-list d-flex justify-content-end">
                            <li>
                                <a href="#" target="_blank" title="Facebook" style="padding: 20px;">
                                    <img src="/assets/ic-facebook.png" alt="Facebook">
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="Instagram">
                                    <img src="/assets/ic-instagram.png" alt="Instagram">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer-bottom">
            <div class="container text-center">
                <p>
                    ©2018 Helperland. All rights reserved. <span class="terms-condition">Terms and Conditions | </span><a class="privacy"
                                                                                                                          href="#" title="Privacy Policy">Privacy Policy</a>
                </p>

            </div>
        </div>
    </footer>
</body>
</html>
